{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "insertPragma": false,
  "proseWrap": "always",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "trailingComma": "none",
  "useTabs": false,
  "printWidth": 80
}
